@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* this is common styles */
body {
    max-width: 1440px;
    background: #FFF;

}

.container {
    width: 75%;
    margin: 0 auto;
}

section {
    margin-bottom: 130px;
}

.common-color {
    color: #3A3A3A;
}


/* this is common styles */
/* ============================================================ */
/* start header styles */
#nav-bir {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font-size: 1.5rem;
    font-weight: 700;
}

#nav-bir>ul {
    display: flex;

}

#nav-bir>ul li {
    list-style: none;
    margin-right: 35px;
    cursor: pointer;
    text-transform: capitalize;


}

#nav-bir>ul li a {
    text-decoration: none;
    color: #3A3A3A;
    cursor: pointer;
    text-transform: capitalize;
}

.header-banner {
    margin-top: 50px;
    /* border: 2px solid #f00; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {}

.banner-titel {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.3rem;

}

.banner-description {
    font-weight: 600;
}

.btn-common {
    padding: 10px 25px;
    border-radius: 41px;
    background: #E02C6D;
    color: #fff;
    font-weight: 700;
    border: 0;
    margin: 30px 0;
    cursor: pointer;
}

.btn-common:hover {
    border: 1px solid #3A3A3A;
}

.banner-images {
    background-image: url('../images/Circle design.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-images img {
    width: 100%;
}

/* ================================================== */
/* start main section styles */
.sponsor {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
}

.sponsor-img {
    /* border: 2px solid red; */
    padding: 25px 10px;
}

.sponsor-img img {
    width: 100%;
}

.popular-collection {
    /* border: 2px solid #f00; */
}

.popular-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 30px;
}

.populer-img-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.populer-img-item .card>h4 {
    font-size: 1.75rem;
    color: #18191F;
    font-weight: 500;
}

.populer-img-item .card>h6 {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
}

.populer-img-item .card>p {
    font-size: .80rem;
    color: #787885;
    font-weight: 700;
}

.populer-img-item img {
    width: 100%;
}

.see-more {
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    border: 0;
    background-color: #fff;
    margin-top: 20px;
}

.featured {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.featured-content {
    padding: 30px;

}

.featured-titel {
    color: #0A0826;
    font-size: 2.375rem;
}

.btn-sq {
    padding: 10px 25px;
    /* border-radius: 41px; */
    background: #E02C6D;
    color: #fff;
    font-weight: 700;
    border: 0;
    margin: 30px 0;
    cursor: pointer;
}

.btn-sq:hover {
    border: 1px solid #3A3A3A;
}

footer {
    background: #0A0826;
    color: #fff;
    text-align: center;
    padding: 50px 150px;
}





/* =============================================== */
/* responsive styles */
@media screen and (max-width:575px) {

    #nav-bir,
    .nav-item,
    .header-banner,
    .featured {
        flex-direction: column;
    }

    .sponsor {
        flex-wrap: wrap;
    }

    #nav-bir {
        text-align: center;
        margin: 30px 0px;
    }

    .header-banner {
        flex-direction: column-reverse;
    }

    .banner-content,
    .banner-titel {
        padding: 30px;
        text-align: center;
    }

    .banner-images img {
        width: 100%;
    }

    .populer-img-item {
        grid-template-columns: 1fr;
    }

    /* start populare section styles */

}



/* ============================================ */
/* main section responsiv */


/* =============================================================================== */
@media screen and (min-width:575px) and (max-width:965px) {

    #nav-bir,
    .featured {
        flex-direction: column;
    }

    #nav-bir,
    .featured {
        text-align: center;
        margin: 30px 0px;
    }

    .nav-item {
        margin: 30px auto;
    }

    .populer-img-item {
        grid-template-columns: repeat(2, 1fr);
    }

}